

div(class='container details')
	div(class='title')
		h3 Building
	div(class='image')
		img(src="images/pois_1x.png" class="img-responsive")
	div(class='author')
		img(src="images/perfil.jpg" class="img-circle")
		span Caio Araújo de Zem
	div(class='description')
		span.
			Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah 