extends ./layout.jade

block content

	//Most popular shots	
	div(ng-controller='ShotsCtrl')
		div(class='col-sm-2' ng-repeat='shot in shots' ng-cloak)
			a(ng-click='openModal($index)' class='thumbnail')
				img(ng-src='{{ shot.images.teaser }}' ng-show='!hoverIn' ng-mouseover="hoverIn != hoverIn")
				img(ng-src='{{ shot.images.normal }}' ng-show='hoverIn' ng-mouseleave="hoverIn != hoverIn")
				div(class='caption')
					span(class="glyphicon glyphicon-heart")
					| {{ shot.likes_count || 0 }}
					span(class="glyphicon glyphicon-eye-open")
					| {{ shot.views_count || 0 }}
					span(class="glyphicon glyphicon-comment")
					| {{ shot.comments_count || 0 }}